:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto-condense: "Roboto Condensed", sans-serif;
  --font-inter:"Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  font-family: var(--font-inter);
  font-weight: 400;
}

button.menu-btn {
  height: 30px;
  width: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  left: 0;
  top: 0;
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 99999999;
  padding: 5px;
}
button.menu-btn:after {
  content: "";
  position: absolute;
  left: -90px;
  top: -120px;
  background-color: #4A5759;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}
button.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s linear;
  opacity: 1;
}
button.menu-btn span:nth-child(2) {
  top: calc(50% - 1px);
  width: 75%;
}
button.menu-btn span:last-child {
  top: unset;
  bottom: 0px;
  left: 0;
  width: 50%;
}
button.menu-btn.active span {
  background-color: #FFFFFF;
}
button.menu-btn.active span:first-child {
  transform: rotate(45deg);
  top: calc(50% - 1px);
  width: 100%;
}
button.menu-btn.active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
  opacity: 0;
  width: 100%;
}
button.menu-btn.active span:last-child {
  transform: rotate(-45deg);
  bottom: unset;
  top: calc(50% - 1px);
  width: 100%;
}
button.menu-btn:hover span {
  width: 100%;
}

.menu {
  padding: 100px 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 120px;
  height: 100vh;
  background-color: #183D3D;
  transform: translateX(-160px);
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@media (max-width: 1200px) {
  .menu {
    width: 65px;
  }
}
@media (max-width: 792px) {
  .menu {
    width: 45px;
  }
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  text-align: center;
  padding: 25px 0;
}
.menu ul li a {
  position: relative;
}
.menu ul li a svg {
  width: 30px;
  height: 30px;
  fill: #FFFFFF;
  transition: 0.2s linear;
}
@media (max-width: 1200px) {
  .menu ul li a svg {
    width: 20px;
  }
}
.menu ul li a.active svg {
  fill: #8a763c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
.menu ul li a:hover svg {
  fill: #8a763c;
}
.menu.active {
  transform: translateX(0);
}

.title h1 {
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .title h1 {
    font-size: 36px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .title h1 {
    font-size: 34px;
  }
}

.title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .title h2 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .title h2 {
    font-size: 30px;
  }
}

.text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5647058824);
}
@media (max-width: 792px) {
  .text p {
    font-size: 14px;
    text-align: center;
  }
}

.section-content {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}
@media (max-width: 1660px) {
  .section-content {
    padding: 0px 36px;
  }
}
@media (max-width: 792px) {
  .section-content {
    padding: 0px 15px;
  }
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 1s;
  overflow: hidden;
  background-image: linear-gradient(#262730, #262730), url(../img/icons/bg-top.webp);
  background-size: cover;
  background-position: top center;
}
.intro .icon-rocket {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 15vh;
  top: 15vh;
}
.intro .icon-rocket img {
  fill: red;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1200px) {
  .intro .icon-rocket {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 991px) {
  .intro .icon-rocket {
    width: 90px;
    height: 90px;
    top: 30px;
    right: 30px;
  }
}
@media (max-width: 991px) {
  .intro .icon-rocket {
    width: 60px;
    height: 60px;
  }
}
.intro .block {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.intro .block .top {
  height: 220px;
  width: 220px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 792px) {
  .intro .block .top {
    width: 180px;
    height: 180px;
  }
}
.intro .block .top img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 1px 1px #ffffff;
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 14px rgba(255, 79, 152, 0);
  }
}
.intro .block .bottom .content .title {
  position: relative;
}
.intro .block .bottom .content .title h1 {
  color: #f7a072;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.intro .block .bottom .content .title h1 span {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 36px;
  color: #eddea4;
  position: relative;
}
.intro .block .bottom .content .title h1 span svg {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -40px;
  bottom: 10px;
  opacity: 0;
  transition: 0.5s linear;
  animation: heartPule 1s infinite;
}
.intro .block .bottom .content .title h1 span svg path {
  fill: red;
}
@keyframes heartPule {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.intro .intro-block .monitor {
  padding: 0;
  width: 300px;
  max-width: 300px;
  border-radius: 5px;
  margin: 0 auto;
}
.intro .intro-block svg {
  max-width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.intro .intro-block svg .ekg {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: miter;
  opacity: 0;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: ekg 1.5s linear forwards infinite;
}
.intro .intro-block h1,
.intro .intro-block h3,
.intro .intro-block p {
  background-color: #0b0e13;
  width: 450px;
  margin: 0 auto;
  padding-top: 10px;
  border-left: 2px solid #0f3a4d;
  border-right: 2px solid #0f3a4d;
  text-shadow: 1px 1px 1px #0f3a4d, 1px -1px 1px #0f3a4d, -1px 1px 1px #0f3a4d, -1px -1px 1px #0f3a4d;
}
.intro .intro-block p {
  border-radius: 0 0 20px 20px;
  border-bottom: 2px solid #0f3a4d;
  padding-bottom: 20px;
}
@keyframes ekg {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 2000;
  }
  99% {
    opacity: 0;
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}
.intro .arrow {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: calc(50% - 18.5px);
  animation: bounce 3s infinite;
  display: block;
  width: 37px;
  height: 20px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.intro .arrow::before,
.intro .arrow::after {
  position: relative;
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background: #ffffff;
}
.intro .arrow::before {
  transform: rotate(45deg);
}
.intro .arrow::after {
  left: 14px;
  transform: rotate(-45deg);
}

section.about {
  padding-top: 100px;
  margin-bottom: 100px;
}
section.about .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  section.about .block {
    flex-direction: column-reverse;
  }
}
section.about .block .left {
  width: 48%;
  padding-left: 30px;
  position: relative;
}
@media (max-width: 1200px) {
  section.about .block .left {
    width: 100%;
    padding-left: 0;
  }
}
section.about .block .left .title h2 {
  color: #183D3D;
  position: relative;
  display: inline-block;
}
section.about .block .left .title h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #8a763c;
  position: absolute;
  left: 0;
  bottom: -5px;
}
section.about .block .right {
  width: 48%;
}
@media (max-width: 1200px) {
  section.about .block .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
section.about .block .right .image {
  width: 576px;
  height: 576px;
  position: relative;
}
@media (max-width: 1200px) {
  section.about .block .right .image {
    width: auto;
    height: auto;
  }
}
section.about .block .right .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1450980392);
}
@media (max-width: 1200px) {
  section.about .block .right .image img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 30px;
  }
}
section.about .block .right .image:after {
  content: "";
  width: 50%;
  height: calc(100% + 60px);
  background-color: #8a763c;
  display: block;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 1200px) {
  section.about .block .right .image:after {
    display: none;
  }
}
section.about .cv-content {
  padding-top: 100px;
}
section.about .cv-content .content {
  text-align: center;
  max-width: 720px;
  margin: 0 auto 60px;
}
section.about .cv-content .content .title h2 {
  color: #183D3D;
  position: relative;
  display: inline-block;
}
section.about .cv-content .content .title h2::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background-color: #8a763c;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
section.about .cv-content .block-cv {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
section.about .cv-content .block-cv:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1882352941);
  top: 0;
  transition: 1.5s linear;
}
section.about .cv-content .block-cv.active:after {
  height: 100%;
}
section.about .cv-content .block-cv.active .left::after {
  background-color: #ff6503;
}
section.about .cv-content .block-cv .left,
section.about .cv-content .block-cv .right {
  width: 50%;
  padding: 60px 0;
}
section.about .cv-content .block-cv .left h3,
section.about .cv-content .block-cv .right h3 {
  color: #183D3D;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
section.about .cv-content .block-cv .left p,
section.about .cv-content .block-cv .right p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5647058824);
}
section.about .cv-content .block-cv .left {
  text-align: right;
  padding-right: 15px;
  position: relative;
}
section.about .cv-content .block-cv .left:after {
  content: "";
  position: absolute;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border: 1px solid #ff6503;
  border-radius: 50%;
  top: 60px;
  z-index: 1;
  transition: 1.5s linear;
}
section.about .cv-content .block-cv .right {
  text-align: left;
  padding-left: 15px;
}
section.about .cv-content .block-cv:first-child {
  padding-top: 100px;
}
section.about .cv-content .block-cv:first-child {
  padding-top: 0;
}

section.numbers {
  padding: 100px 0;
}
section.numbers .content {
  max-width: 720px;
  margin: 0 auto;
}
section.numbers .content .title h2 {
  color: #FFFFFF;
  text-align: center;
}
section.numbers .content .text {
  margin-bottom: 60px;
}
section.numbers .content .text p {
  color: #FFFFFF;
  text-align: center;
}
section.numbers .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.numbers .block .column {
  width: calc(25% - 15px);
  height: 320px;
  background-color: #8a763c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
@media (max-width: 1440px) {
  section.numbers .block .column {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
@media (max-width: 792px) {
  section.numbers .block .column {
    margin-bottom: 15px;
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 576px) {
  section.numbers .block .column {
    width: 100%;
  }
}
section.numbers .block .column .number-item .value {
  font-size: 80px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #FFFFFF;
}
section.numbers .block .column .desc p {
  margin-bottom: 0;
  font-weight: 300;
  color: #FFFFFF;
}
section.numbers .block .column:first-child {
  background-color: rgba(222, 219, 210, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:nth-child(2) {
  background-color: rgba(176, 196, 177, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:nth-child(3) {
  background-color: rgba(247, 225, 215, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:last-child {
  background-color: rgba(74, 87, 89, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers.parallax {
  /* The image used */
  background-image: linear-gradient(rgb(74, 87, 89), rgba(74, 87, 89, 0.2)), url(../img/icons/bg-paralax.webp);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.projects .project {
  min-height: 700px;
  height: 100%;
  min-height: 85vh;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: 650px 650px !important;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat !important;
}
@media (max-width: 1200px) {
  section.projects .project {
    min-height: unset;
    padding: 60px 0;
  }
}
section.projects .project.project-1 {
  background: #ccc;
}
section.projects .project.project-2 {
  background: #eee;
}
section.projects .project.project-3 {
  background: #ddd;
}
section.projects .project .img-fixed {
  height: 100%;
  max-width: 800px;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat !important;
  background-size: 750px 750px !important;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
@media (max-width: 1440px) {
  section.projects .project .img-fixed {
    background-position: center right !important;
    max-width: 100%;
  }
}
section.projects .project .img-fixed.img-fixed-1 {
  background: url(../img/icons/abbeys.webp);
}
section.projects .project .img-fixed.img-fixed-2 {
  background: url(../img/icons/cp.webp);
}
section.projects .project .img-fixed.img-fixed-3 {
  background: url(../img/icons/dww.webp);
}
@media (max-width: 1200px) {
  section.projects .project .img-fixed {
    display: none;
  }
}
section.projects .project .section-content .col-left {
  max-width: 330px;
}
@media (max-width: 1200px) {
  section.projects .project .section-content .col-left {
    text-align: center;
    margin: 0 auto;
  }
}
section.projects .project .section-content .col-right {
  display: none;
}
@media (max-width: 1200px) {
  section.projects .project .section-content .col-right {
    display: block;
  }
  section.projects .project .section-content .col-right img {
    max-width: 100%;
    height: auto;
  }
}

footer {
  height: 120px;
  background-color: #000000;
}/*# sourceMappingURL=main.css.map */