:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto-condense: 'Roboto Condensed', sans-serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #FFFFFF;
    font-family: var(--font-poppins);
    font-weight: 300;
}

button.menu-btn {
    height: 30px;
    width: 60px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    left: 0;
    top: 0;
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 99999999;
    padding: 5px;

    &:after {
        content: "";
        position: absolute;
        left: -90px;
        top: -120px;
        background-color: #4A5759;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        z-index: -1;
    }

    span {
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 0;
        transition: .2s linear;
        opacity: 1;

        &:first-child {}

        &:nth-child(2) {
            top: calc(50% - 1px);
            width: 75%;

        }

        &:last-child {
            top: unset;
            bottom: 0px;
            left: 0;
            width: 50%;
        }
    }

    &.active {
        span {
            background-color: #FFFFFF;

            &:first-child {
                transform: rotate(45deg);
                top: calc(50% - 1px);
                width: 100%;
            }

            &:nth-child(2) {
                top: 50%;
                transform: rotate(45deg);
                opacity: 0;
                width: 100%;
            }

            &:last-child {
                transform: rotate(-45deg);
                bottom: unset;
                top: calc(50% - 1px);
                width: 100%;
            }
        }
    }

    &:hover {
        span {
            width: 100%;
        }
    }
}


.menu {
    padding: 100px 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 100vh;
    background-color: #183D3D;
    transform: translateX(-160px);
    transition: .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    @media(max-width:1200px) {
        width: 65px;
    }

    @media(max-width:792px) {
        width: 45px;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            text-align: center;
            padding: 25px 0;

            a {
                position: relative;

                svg {
                    width: 30px;
                    height: 30px;
                    fill: #FFFFFF;
                    transition: .2s linear;

                    @media(max-width:1200px) {
                        width: 20px;
                    }
                }

                &.active {
                    svg {
                        fill: #8a763c;
                        box-shadow: 0 3px 6px #00000016;
                    }
                }

                &:hover {
                    svg {
                        fill: #8a763c;
                    }
                }

            }
        }
    }

    &.active {
        transform: translateX(0);
    }

}

.title {
    h1 {
        font-family: var(--font-roboto-condense);
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;

        @media(max-width:792px) {
            font-size: 36px;
        }

        @media(max-width:576px) {
            font-size: 34px;
        }
    }
}

.title {
    h2 {
        font-family: var(--font-roboto-condense);
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;

        @media(max-width:792px) {
            font-size: 32px;
        }

        @media(max-width:576px) {
            font-size: 30px;
        }
    }
}


.section-content {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;

    @media (max-width: 1660px) {
        padding: 0px 36px
    }

    @media (max-width: 792px) {
        padding: 0px 15px
    }
}

.intro {
    height: 100vh;
    background-color: #DEDBD2;
    position: relative;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s;
    overflow: hidden;

    .block {
        display: flex;
        flex-direction: column;
        max-width: 650px;
        margin: 0 auto;
        align-items: center;
        height: 100vh;
        justify-content: center;



        .top {
            height: 230px;
            width: 230px;
            margin-bottom: 30px;

            @media(max-width:792px) {
                width: 180px;
                height: 180px;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        .bottom {
            .content {
                .title {
                    h1 {
                        color: #4A5759;
                        text-transform: uppercase;
                        font-weight: 500;
                        text-align: center;
                        margin-bottom: 0;

                        span {
                            text-transform: lowercase;
                            font-weight: 300;
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }

    .img-responsive {
        img {
            max-width: 100%;
            height: auto;
        }

        img.mac {
            position: absolute;
            right: -100vw;
            top: 50%;
            transform: translateY(-50%);
            transition: 2s linear;


            &.active {
                right: -480px;

                @media(max-width:1440px) {
                    right: -650px;
                }

                @media(max-width:1200px) {
                    position: unset;
                    transform: unset;
                    max-height: 200px;
                    width: auto;
                }
            }
        }

        img.tablet {
            position: absolute;
            left: -100vw;
            top: 50%;
            transform: translateY(-50%);
            transition: 2s linear;

            &.active {
                left: -150px;

                @media(max-width:1440px) {
                    left: -310px;
                }

                @media(max-width:1200px) {
                    position: unset;
                    transform: unset;
                    max-height: 70px;
                    height: auto;
                }
            }
        }

        img.smartphone {
            position: absolute;
            left: 250px;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width:1440px) {
                left: 80px;
            }

            @media(max-width:1200px) {
                position: unset;
                transform: unset;
                max-height: 45px;
                width: auto;
            }
        }

        @media(max-width:1200px) {
            margin: 0 auto;
            display: block;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                max-width: 30%;
            }
        }
    }
}

section.about {
    padding-top: 100px;

    .block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width:1200px) {
            flex-direction: column-reverse;
        }

        .left {
            width: 48%;
            padding-left: 30px;
            position: relative;

            @media(max-width:1200px) {
                width: 100%;
                padding-left: 0;
            }

            &::after {
                content: "";
                display: block;
                width: 3px;
                height: 100%;
                background-color: #8a763c;
                position: absolute;
                left: 0;
                top: 0;

                @media(max-width:1200px) {
                    display: none;
                }
            }

            .title {
                h2 {
                    font-family: var(--font-roboto-condense);
                    color: #183D3D;
                }
            }
        }

        .right {
            width: 48%;

            @media(max-width:1200px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .image {
                width: 576px;
                height: 576px;
                position: relative;

                @media(max-width:1200px) {
                    width: auto;
                    height: auto;
                }

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    object-position: center;
                    box-shadow: 0 3px 6px #00000025;

                    @media(max-width:1200px) {
                        object-fit: contain;
                        max-width: 100%;
                        height: auto;
                        width: auto;
                    }
                }

                &:after {
                    content: '';
                    width: 50%;
                    height: calc(100% + 60px);
                    background-color: #8a763c;
                    display: block;
                    position: absolute;
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;

                    @media(max-width:1200px) {
                        display: none;
                    }
                }
            }
        }
    }
}



section.numbers {
    padding: 100px 0 0 0;

    .block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .column {
            width: calc(25% - 15px);
            height: 320px;
            background-color: #8a763c;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 3px 6px #00000016;

            @media(max-width:1440px) {
                width: calc(50% - 15px);
                margin-bottom: 30px;
            }

            @media(max-width:792px) {
                margin-bottom: 15px;
                width: calc(50% - 15px/2);
            }

            @media(max-width:576px) {
                width: 100%;
            }

            .number-item {
                .value {
                    font-size: 80px;
                    margin-bottom: 15px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-shadow: 0 3px 6px #00000016;
                }
            }

            .desc {
                p {
                    font-size: 20px;
                    margin-bottom: 0;
                    font-weight: 300;
                    color: #8a763c;
                }
            }

            &:first-child {
                background-color: #DEDBD2;
            }

            &:nth-child(2) {
                background-color: #B0C4B1;
            }

            &:nth-child(3) {
                background-color: #F7E1D7;
            }

            &:last-child {
                background-color: #4A5759;
            }
        }


    }
}

section.projects {
    margin-top: 120px;
    padding-top: 100px;
    background-color: #8a763c;
    height: 120vh;
}