:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto-condense: "Roboto Condensed", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --color-black: #000000;
  --color-blue: #14213D;
  --color-yellow: #FCA311;
  --color-grey: #E5E5E5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  font-family: var(--font-inter);
  font-weight: 400;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  background: #000;
  height: 60px;
  max-width: 1920px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
@media (max-width: 991px) {
  header {
    height: 60px;
  }
}
header .header-wrapper {
  padding: 0 60px;
  display: flex;
  background-color: var(--color-black);
}
@media (max-width: 1660px) {
  header .header-wrapper {
    padding: 0px 36px;
  }
}
@media (max-width: 991px) {
  header .header-wrapper {
    background-color: var(--color-yellow);
  }
}
@media (max-width: 792px) {
  header .header-wrapper {
    padding: 0px 15px;
  }
}
header .header-wrapper .logo {
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  header .header-wrapper .logo {
    height: 60px;
  }
}
header .header-wrapper .logo h1 {
  position: relative;
  z-index: 1;
}
header .header-wrapper .logo h1 a {
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0;
  color: #000000;
}
@media (max-width: 991px) {
  header .header-wrapper .logo h1 a {
    font-size: 36px;
  }
}
header .header-wrapper .menu-desctop {
  position: relative;
  z-index: 1;
  width: calc(100% - 320px);
}
@media (max-width: 991px) {
  header .header-wrapper .menu-desctop {
    display: none;
  }
}
header .header-wrapper .menu-desctop ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
header .header-wrapper .menu-desctop ul li {
  margin-right: 30px;
}
header .header-wrapper .menu-desctop ul li:last-child {
  margin-right: 0;
}
header .header-wrapper .menu-desctop ul li a {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
header .header-wrapper .menu-desctop ul li a svg {
  height: 15px;
  fill: #FFFFFF;
  margin-right: 5px;
}
header .header-wrapper .menu-desctop ul li::marker {
  display: none;
}
header .header-wrapper:after {
  content: "";
  height: 100%;
  width: 320px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
}
@media (max-width: 991px) {
  header .header-wrapper:after {
    width: calc(100% - 90px);
  }
}

button.menu-btn {
  height: 30px;
  width: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  right: 15px;
  top: 15px;
  position: fixed;
  z-index: 99999999;
  padding: 5px;
  display: none;
}
@media (max-width: 991px) {
  button.menu-btn {
    display: block;
  }
}
button.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s linear;
  opacity: 1;
}
button.menu-btn span:nth-child(2) {
  top: calc(50% - 1px);
  width: 75%;
}
button.menu-btn span:last-child {
  top: unset;
  bottom: 0px;
  left: 0;
  width: 50%;
}
button.menu-btn.active span {
  background-color: #FFFFFF;
}
button.menu-btn.active span:first-child {
  transform: rotate(45deg);
  top: calc(50% - 1px);
  width: 100%;
}
button.menu-btn.active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
  opacity: 0;
  width: 100%;
}
button.menu-btn.active span:last-child {
  transform: rotate(-45deg);
  bottom: unset;
  top: calc(50% - 1px);
  width: 100%;
}
button.menu-btn:hover span {
  width: 100%;
}

.menu {
  padding: 100px 15px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: var(--color-yellow);
  transform: translateX(-160px);
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style: none;
  text-align: center;
  padding: 25px 0;
}
.menu ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s linear;
}
.menu ul li a svg {
  width: 30px;
  height: 30px;
  fill: #FFFFFF;
  transition: 0.2s linear;
  margin-right: 5px;
}
@media (max-width: 1200px) {
  .menu ul li a svg {
    width: 20px;
  }
}
.menu ul li a.active {
  color: #000000;
}
.menu ul li a.active svg {
  fill: #000000;
}
.menu ul li a:hover {
  color: #000000;
}
.menu ul li a:hover svg {
  fill: #000000;
}
.menu.active {
  transform: translateX(0);
  width: 100%;
}

.title h1 {
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .title h1 {
    font-size: 36px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .title h1 {
    font-size: 34px;
  }
}

.title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .title h2 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .title h2 {
    font-size: 30px;
  }
}

.text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5647058824);
}
@media (max-width: 792px) {
  .text p {
    font-size: 14px;
    text-align: center;
  }
}

.section-content {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}
@media (max-width: 1660px) {
  .section-content {
    padding: 0px 36px;
  }
}
@media (max-width: 792px) {
  .section-content {
    padding: 0px 15px;
  }
}

section.hero {
  background-color: #000000;
  position: relative;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
@media (max-width: 991px) {
  section.hero {
    height: calc(100vh - 60px);
  }
}
section.hero .arrow-down {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
section.hero .arrow-down svg {
  height: 120px;
  fill: #ffffff;
}
section.hero .swiper {
  height: 100%;
  width: 100%;
}
section.hero .swiper .swiper-slide .section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.7294117647);
  padding: 5px 15px;
}
section.hero .swiper .swiper-slide .section-text h1 {
  color: var(--color-yellow);
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1200px) {
  section.hero .swiper .swiper-slide .section-text h1 {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  section.hero .swiper .swiper-slide .section-text h1 {
    font-size: 55px;
  }
}
@media (max-width: 576px) {
  section.hero .swiper .swiper-slide .section-text h1 {
    font-size: 36px;
  }
}
section.hero .swiper .swiper-slide .section-text h2 {
  color: #FFFFFF;
  font-size: 55px;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 1200px) {
  section.hero .swiper .swiper-slide .section-text h2 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  section.hero .swiper .swiper-slide .section-text h2 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  section.hero .swiper .swiper-slide .section-text h2 {
    font-size: 30px;
  }
}
section.hero .img-hero {
  width: calc(100% - 60px);
  height: calc(100% - 120px);
  position: absolute;
  top: 60px;
  left: 0;
}
@media (max-width: 1660px) {
  section.hero .img-hero {
    width: calc(100% - 36px);
  }
}
@media (max-width: 991px) {
  section.hero .img-hero {
    width: 100%;
    height: 100%;
    top: 0;
  }
}
section.hero .img-hero img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
  width: 100%;
}
section.hero .swiper-pagination {
  background: #ffffff;
  width: 50%;
  height: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero .swiper-pagination .swiper-pagination-bullet {
  background: var(--color-black);
  width: 10px;
  height: 10px;
  opacity: 1;
}
section.hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-yellow);
}
@media (max-width: 991px) {
  section.hero .swiper-pagination {
    width: 100%;
    height: 50px;
  }
}

section.about {
  padding-top: 100px;
}
section.about .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  section.about .block {
    flex-direction: column;
  }
}
section.about .block .left {
  width: 48%;
  position: relative;
}
@media (max-width: 991px) {
  section.about .block .left {
    width: 100%;
  }
}
section.about .block .left .content {
  height: 540px;
}
@media (max-width: 994px) {
  section.about .block .left .content {
    height: auto;
  }
}
section.about .block .left .content .image {
  margin-left: 180px;
  height: 100%;
  position: relative;
}
@media (max-width: 1440px) {
  section.about .block .left .content .image {
    margin-left: 130px;
  }
}
@media (max-width: 1199px) {
  section.about .block .left .content .image {
    margin-left: 82px;
  }
}
@media (max-width: 991px) {
  section.about .block .left .content .image {
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
section.about .block .left .content .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: top center;
     object-position: top center;
}
@media (max-width: 991px) {
  section.about .block .left .content .image img {
    -o-object-fit: unset;
       object-fit: unset;
    max-width: 767px;
    height: auto;
  }
}
section.about .block .left .content .image:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: 1px solid var(--color-black);
  position: absolute;
  left: -30px;
  bottom: -30px;
}
@media (max-width: 1440px) {
  section.about .block .left .content .image:after {
    left: -20px;
    bottom: -20px;
  }
}
@media (max-width: 1199px) {
  section.about .block .left .content .image:after {
    left: -10px;
    bottom: -10px;
  }
}
@media (max-width: 994px) {
  section.about .block .left .content .image:after {
    display: none;
  }
}
section.about .block .left .content .title {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  background-color: var(--color-yellow);
  padding: 15px 0;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  section.about .block .left .content .title {
    width: 90px;
  }
}
@media (max-width: 1199px) {
  section.about .block .left .content .title {
    width: 63px;
  }
}
@media (max-width: 991px) {
  section.about .block .left .content .title {
    position: unset;
    width: auto;
    height: auto;
    background-color: unset;
    padding: 0;
    justify-content: center;
  }
}
section.about .block .left .content .title h2 {
  writing-mode: vertical-lr;
  margin-left: -55px;
  font-size: 90px;
  color: var(--color-blue);
  transform: rotate(180deg);
  text-transform: uppercase;
  font-family: var(--font-inter);
  font-weight: 400;
  position: relative;
}
@media (max-width: 1440px) {
  section.about .block .left .content .title h2 {
    margin-left: -45px;
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  section.about .block .left .content .title h2 {
    margin-left: 0;
    transform: unset;
    writing-mode: unset;
    text-align: center;
    font-size: 32px;
    text-transform: none;
    font-weight: 700;
  }
  section.about .block .left .content .title h2:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-yellow);
    display: block;
  }
}
@media (max-width: 576px) {
  section.about .block .left .content .title h2 {
    font-size: 30px;
  }
}
section.about .block .right {
  width: 48%;
  max-width: 500px;
  position: relative;
}
@media (max-width: 991px) {
  section.about .block .right {
    width: 100%;
  }
}
section.about .block .right .content .text p {
  position: relative;
  text-align: center;
}
section.about .block .right .content .text p strong {
  color: var(--color-yellow);
  font-weight: 700;
}
section.about .block .right .content .text p::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--color-yellow);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
section.about .cv-content {
  padding: 100px 0;
  background-color: var(--color-black);
  margin-top: 100px;
}
section.about .cv-content .content {
  text-align: center;
  max-width: 720px;
  margin: 0 auto 60px;
}
section.about .cv-content .content .title h2 {
  color: var(--color-grey);
  position: relative;
  display: inline-block;
}
section.about .cv-content .content .title h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--color-yellow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}
section.about .cv-content .content .text p {
  color: var(--color-grey);
}
section.about .cv-content .block-cv {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
section.about .cv-content .block-cv:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 0;
  background-color: #FFFFFF;
  top: 0;
  transition: 1.5s linear;
}
section.about .cv-content .block-cv.active:after {
  height: 100%;
}
section.about .cv-content .block-cv.active .left::after {
  background-color: var(--color-yellow);
}
section.about .cv-content .block-cv .left,
section.about .cv-content .block-cv .right {
  width: 50%;
  padding: 60px 0;
}
section.about .cv-content .block-cv .left h3,
section.about .cv-content .block-cv .right h3 {
  color: var(--color-yellow);
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
section.about .cv-content .block-cv .left p,
section.about .cv-content .block-cv .right p {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 300;
}
section.about .cv-content .block-cv .left {
  text-align: right;
  padding-right: 15px;
  position: relative;
}
section.about .cv-content .block-cv .left:after {
  content: "";
  position: absolute;
  right: -6px;
  width: 12px;
  height: 12px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  top: 60px;
  z-index: 1;
  transition: 1.5s linear;
}
section.about .cv-content .block-cv .right {
  text-align: left;
  padding-left: 15px;
}
section.about .cv-content .block-cv:first-child {
  padding-top: 100px;
}
section.about .cv-content .block-cv:first-child {
  padding-top: 0;
}

section.numbers {
  padding: 100px 0;
}
section.numbers .content {
  max-width: 720px;
  margin: 0 auto;
}
section.numbers .content .title h2 {
  color: #FFFFFF;
  text-align: center;
}
section.numbers .content .text {
  margin-bottom: 60px;
}
section.numbers .content .text p {
  color: #FFFFFF;
  text-align: center;
}
section.numbers .block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.numbers .block .column {
  width: calc(25% - 15px);
  height: 320px;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
}
@media (max-width: 1440px) {
  section.numbers .block .column {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
@media (max-width: 792px) {
  section.numbers .block .column {
    margin-bottom: 15px;
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 576px) {
  section.numbers .block .column {
    width: 100%;
  }
}
section.numbers .block .column .number-item .value {
  font-size: 80px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #FFFFFF;
}
section.numbers .block .column .desc p {
  margin-bottom: 0;
  font-weight: 300;
  color: #FFFFFF;
}
section.numbers .block .column:first-child {
  background-color: rgba(222, 219, 210, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:nth-child(2) {
  background-color: rgba(176, 196, 177, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:nth-child(3) {
  background-color: rgba(247, 225, 215, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers .block .column:last-child {
  background-color: rgba(74, 87, 89, 0.3764705882);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
section.numbers.parallax {
  /* The image used */
  background-image: linear-gradient(rgb(74, 87, 89), rgba(74, 87, 89, 0.2)), url(../img/icons/bg-paralax.webp);
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.projects {
  position: relative;
}
section.projects .project-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0862745098);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
section.projects .project-menu ul {
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Styl paska przewijania */
}
section.projects .project-menu ul li {
  list-style: none;
}
section.projects .project-menu ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 15px;
  display: block;
}
section.projects .project-menu ul::-webkit-scrollbar {
  width: 6px;
  margin: 30px;
}
section.projects .project-menu ul::-webkit-scrollbar-thumb {
  background: #000000;
  /* Kolor kciuka przewijania */
  border-radius: 3px;
}
section.projects .project-menu ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Kolor toru przewijania */
}
section.projects .project {
  min-height: 700px;
  height: 100%;
  min-height: 85vh;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: 650px 650px !important;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat !important;
}
@media (max-width: 1200px) {
  section.projects .project {
    min-height: unset;
    padding: 60px 0;
  }
}
section.projects .project:nth-child(odd) {
  background-color: var(--color-grey);
}
section.projects .project .img-fixed {
  height: 100%;
  max-width: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat !important;
  background-size: 70% !important;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-position: right !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  margin-left: auto;
}
@media (max-width: 1440px) {
  section.projects .project .img-fixed {
    background-position: center right !important;
    max-width: 100%;
  }
}
section.projects .project .img-fixed.img-fixed-1 {
  background: url(../img/icons/nowatorska.png);
}
section.projects .project .img-fixed.img-fixed-2 {
  background: url(../img/icons/saniwell.png);
}
section.projects .project .img-fixed.img-fixed-3 {
  background: url(../img/icons/suasio.png);
}
section.projects .project .img-fixed.img-fixed-4 {
  background: url(../img/icons/mczdrowia.png);
}
section.projects .project .img-fixed.img-fixed-5 {
  background: url(../img/icons/iflsa.png);
}
@media (max-width: 1200px) {
  section.projects .project .img-fixed {
    display: none;
  }
}
section.projects .project .section-content .col-left {
  transform: translateX(-100px);
  max-width: 330px;
  transition: 1s linear;
}
@media (max-width: 1200px) {
  section.projects .project .section-content .col-left {
    text-align: center;
    margin: 0 auto;
  }
}
section.projects .project .section-content .col-left .title h2 {
  color: var(--color-yellow);
}
section.projects .project .section-content .col-left .text p {
  font-weight: 300;
  color: var(--color-black);
}
section.projects .project .section-content .col-left .section-button {
  display: flex;
}
@media (max-width: 991px) {
  section.projects .project .section-content .col-left .section-button {
    display: none;
  }
}
section.projects .project .section-content .col-left .section-button a {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: #000000;
  padding: 10px 25px;
  text-decoration: none;
  margin-top: 30px;
  transition: 0.2s linear;
  font-weight: 600;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
}
section.projects .project .section-content .col-left .section-button a:hover {
  border: 1px solid var(--color-yellow);
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 20px var(--color-yellow);
}
section.projects .project .section-content .col-left.active {
  transform: translateX(0);
  animation: visible-title 3s ease-in-out;
}
@keyframes visible-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.projects .project .section-content .col-right {
  display: none;
}
@media (max-width: 1200px) {
  section.projects .project .section-content .col-right {
    display: block;
  }
  section.projects .project .section-content .col-right img {
    max-width: 100%;
    height: auto;
  }
  section.projects .project .section-content .col-right .section-button {
    display: none;
  }
}
@media (max-width: 1200px) and (max-width: 991px) {
  section.projects .project .section-content .col-right .section-button {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  section.projects .project .section-content .col-right .section-button a {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    color: #000000;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 30px;
    transition: 0.2s linear;
    font-weight: 600;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    max-width: 230px;
  }
  section.projects .project .section-content .col-right .section-button a:hover {
    border: 1px solid var(--color-yellow);
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 4px 20px var(--color-yellow);
  }
}

footer {
  background-color: #000000;
  padding: 30px 0;
}
footer .block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  footer .block {
    flex-direction: column;
  }
}
footer .block .column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 1200px) {
  footer .block .column {
    width: 100%;
    margin-bottom: 30px;
  }
}
footer .block .column .title h3 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  footer .block .column .title h3 {
    text-align: center;
  }
}
footer .block .column a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  footer .block .column a {
    justify-content: center;
  }
}
footer .block .column a img {
  max-width: 20px;
  height: auto;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(16%) hue-rotate(209deg) brightness(104%) contrast(100%);
}

/** Body Overlay **/
body #load {
  display: block;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9901;
  opacity: 1;
  background-color: #FFFFFF;
  visibility: visible;
  transition: all 0.35s ease-out;
}

body #load.loader-removed {
  opacity: 0;
  visibility: hidden;
}

.spinner-loader .load-wrap {
  background-image: url("../img/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */